<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zquotesdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>zquotesdb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ZQuotesDB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ZQuotesDB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=ZQuotesDB0;User ID=howlettz@howlettz;Password=RSC6me@nj" Name="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=ZQuotesDB0;User Id=howlettz@howlettz;Password=RSC6me@nj" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Quotes.Models.ApplicationDbContext, Quotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuotesContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=ZQuotesDB0;User ID=howlettz@howlettz;Password=RSC6me@nj" Name="Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=ZQuotesDB0;User Id=howlettz@howlettz;Password=RSC6me@nj" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Quotes.Models.QuotesContext, Quotes" MigrationConfiguration="Quotes.Migrations.Configuration, Quotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=ZQuotesDB0;User Id=howlettz@howlettz;Password=RSC6me@nj</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuotesContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:howlettz.database.windows.net,1433;Initial Catalog=ZQuotesDB0;User Id=howlettz@howlettz;Password=RSC6me@nj</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>